@import "../../assets/styles/mixin.scss";

.chat{
    @include flex(row,space-between,flex-start,12px);
    padding: 8px;
    .card{
        @include flex(row,flex-start,flex-start);
        img{
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .content{
        width: 100%;
        @include flex(column,space-between,space-between,4px);
        .card-row{
            @include flex(row,space-between,space-between);
            .send{
                @include flex(row,flex-start,flex-start,3px);
                .from,.to,.fromName,.toName{
                    
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .fromName,.toName{
                    color: #2D8CFF;
                }
                .from,.to{
                    color: #6B7280;
                }
            }
            .time{
                @include flex(row,flex-start,flex-start,3px);
                color: #6B7280;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .messageText{
            @include flex(row,flex-start,flex-start,8px);
            color: #D1D5DB;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            padding: 8px 12px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid rgba(75, 85, 99, 1);
            background: rgba(55, 65, 81, 1);
            .file{
                .size{
                    color: #6B7280;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
    }
    &:nth-child(even){
        @include flex(row-reverse,space-between,flex-start);
        .messageText{
            border: 1px solid rgba(45, 140, 255, 0.10);
            background: rgba(45, 140, 255, 0.10);
        }
    }
}
