@import "../../assets/styles/mixin.scss";
.participants{
    padding: 8px;
    @include flex(column,flex-start,center);
    background: rgba(31, 41, 55, 1);
    border-bottom: 1px solid rgba(55, 65, 81, 1);
    border-left: 1px solid rgba(55, 65, 81, 1);
    .container{
        padding: 8px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 8px;
        overflow-y: scroll; /* Apply scrollbar to the y-axis only */
        overflow-x: visible;
    }
    .container::-webkit-scrollbar {
        width: 12px;
    }
      
    .container::-webkit-scrollbar-track {
        background: rgba(31, 41, 55, 1);
    }
      
    .container::-webkit-scrollbar-thumb {
        background-color: rgba(16, 24, 38, 1);
        border-radius: 20px;
        border: 3px solid rgba(31, 41, 55, 1);
    }
    .participant-parameters{
        padding-top: 15px;
        @include flex(row,center,center,16px);
        button{
            border-radius: 6px;
            border: 1px solid rgba(55, 65, 81, 1);
            background: rgba(55, 65, 81, 1);
            padding: 4px 8px;
            color: #D1D5DB;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
        }
    }
}

