@mixin font ($size: null, $height: null, $weight: null, $spacing: null, $align: null, $transform: null){
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    letter-spacing: $spacing;
    text-align: $align;
    text-transform: $transform;
}
@mixin flex($direction: null, $justify: null, $align: null, $gap: null, $wrap: null){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}